.idea
vendor/
.env
storage.sqlite
mailaccount.json
**.data**
error.txt
routes.json
public/
.data2/mailsdb.sqlite
debug.log
css_classes.txt
hist.tmp
out.txt
node_modules/
libs/**
*.log
.env*
*.phar
test.txt
hist2.txt
/src/testing/material.js
/src/androphp/source/imagemagick_7.1.1.47-1_aarch64.tar.xz
/src/androphp/source/libandroid-glob_0.6-2_aarch64.tar.xz
/src/androphp/source/libandroid-support_29_aarch64.tar.xz
/src/androphp/source/libbz2_1.0.8-6_aarch64.tar.xz
/src/androphp/source/libc++_27c_aarch64.tar.xz
/src/androphp/source/libcurl_8.13.0_aarch64.tar.xz
/src/androphp/source/libffi_3.4.7_aarch64.tar.xz
/src/androphp/source/libgmp_6.3.0-1_aarch64.tar.xz
/src/androphp/source/libiconv_1.18_aarch64.tar.xz
/src/androphp/source/libicu_77.1-1_aarch64.tar.xz
/src/androphp/source/libresolv-wrapper_1.1.7-4_aarch64.tar.xz
/src/androphp/source/libsodium_1.0.20_aarch64.tar.xz
/src/androphp/source/libsqlite_3.49.2_aarch64.tar.xz
/src/androphp/source/libxml2_2.14.2-1_aarch64.tar.xz
/src/androphp/source/libxslt_1.1.43-1_aarch64.tar.xz
/src/androphp/source/libzip_1.11.3_aarch64.tar.xz
/src/androphp/source/oniguruma_6.9.10_aarch64.tar.xz
/src/androphp/source/pcre2_10.45_aarch64.tar.xz
/src/androphp/source/php-gd_8.4.2-2_aarch64.tar.xz
/src/androphp/source/php-imagick_3.8.0_aarch64.tar.xz
/src/androphp/source/php-sodium_8.4.2-2_aarch64.tar.xz
/src/androphp/source/php_8.4.2-2_aarch64.tar.xz
/src/androphp/source/readline_8.2.13_aarch64.tar.xz
/src/androphp/source/tidy_5.9.14-next-0_aarch64.tar.xz
/src/androphp/source/zlib_1.3.1_aarch64.tar.xz
/src/androphp/cache.ser
/src/androphp/Packages
/yt-transkript-phpnative.txt
/out.jpg
/tmp.html
/matterhorn-logs*
/.phpunit.result.cache
/src/extractcomp/.phpunit.result.cache
/test_bis_api.php
/test_bis_response.php
*.json
